body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
fieldset,img{border:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
input,button,textarea,select{font:inherit;font-size:100%;}
body{font:14px/1.5 'Microsoft Yahei UI','Microsoft YaHei',Helvetica,'ו',Arial,sans-serif;color:#464646;}
ol,ul{list-style:none;}
/* tables still need 'cellspacing="0"' in the markup */
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
a{text-decoration:none;coloegame_statisticr:#505050;}
a:hover{text-decoration:none}
.fix{*zoom:1;}
.fix:after{display:table;content:'';clear:both;}
