html, body{
    height: 100%;
}
body{
    overflow: hidden;
}
.scrollWrapper{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;

}
.scrollPiece{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .7s cubic-bezier(.825,0,.5,1);
    -moz-transition: -moz-transform .7s cubic-bezier(.825,0,.5,1);
    transition: transform .7s cubic-bezier(.825,0,.5,1);
}
.scrollPiece.active{

}
.scrollPiece.old{
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}


.scrollPiece:nth-child(4n+1){z-index: 4;background-color: #fff;}
.scrollPiece:nth-child(4n+2){z-index: 3;background: #a77dc2;}
.scrollPiece:nth-child(4n+3){z-index: 2;background: lightgrey;}
.scrollPiece:nth-child(4n){z-index: 1;background: #fff3f3;}


/* #########################  */
.postColumnR2LScrollSection{
    background: rgb(251, 251, 196);
}
.postColumnR2LScrollSection section{
    width: 70%;
    height: 100%;
    margin: 0 15% 0 10%;
}
.postColumnR2LScrollSection .sectionHeader{
    margin-top: 120px;
    margin-bottom: 20px;
}
.postColumnR2LScrollSection .sectionHeader header{
    font-size: 3em;
}
.postColumnR2LScrollSection .sectionHeader article{
    width: 40%;
    font-size: 16px;
}
.postColumnR2LScrollSection .postColumn{
    width: 300px;
    float: left;
    margin-right: 20px;
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px,0,0);
}
.postColumnR2LScrollSection .post{
    width: 100%;
    height: 300px;
    background: #fff;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;

    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px,0,0);
}
.postColumnR2LScrollSection.active .postColumn,
.postColumnR2LScrollSection.active .post{
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: opacity .7s cubic-bezier(.165,.84,.44,1),-webkit-transform .7s cubic-bezier(.165,.84,.44,1);
    -moz-transition: opacity .7s cubic-bezier(.165,.84,.44,1),-moz-transform .7s cubic-bezier(.165,.84,.44,1);
    transition: opacity .7s cubic-bezier(.165,.84,.44,1),transform .7s cubic-bezier(.165,.84,.44,1);
}
.postColumnR2LScrollSection .postColumn:nth-child(1),
.postColumnR2LScrollSection .post:nth-child(1){
    -webkit-transition-delay: .08s;
    -moz-transition-delay: .08s;
    transition-delay: .08s;
}
.postColumnR2LScrollSection .postColumn:nth-child(2),
.postColumnR2LScrollSection .post:nth-child(2){
    -webkit-transition-delay: .16s;
    -moz-transition-delay: .16s;
    transition-delay: .16s;
}
.postColumnR2LScrollSection .postColumn:nth-child(3),
.postColumnR2LScrollSection .post:nth-child(3){
    -webkit-transition-delay: .24s;
    -moz-transition-delay: .24s;
    transition-delay: .24s;
}
.postColumnR2LScrollSection .postColumn:nth-child(4),
.postColumnR2LScrollSection .post:nth-child(4){
    -webkit-transition-delay: .32s;
    -moz-transition-delay: .32s;
    transition-delay: .32s;
}

.postColumnR2LScrollSection .post img{
    width: 100%;
    -moz-transition: -moz-transform 0.5s ease 0s, opacity 0.5s ease 0s;
    -webkit-transition: -webkit-transform 0.5s ease 0s, opacity 0.5s ease 0s;
    transition: transform 0.5s ease 0s, opacity 0.5s ease 0s;
}
.postColumnR2LScrollSection .post:hover img{
    -moz-transform: -moz-scale3d(1.2, 1.2, 1);
    -webkit-transform: -webkit-scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
}


/* #########################  */
.h_120{height: 120px !important;}
.h_240{height: 240px !important;}
.h_360{height: 380px !important;}


.fourBarsAround{
    display: flex;
    justify-content: space-between;
    background: -webkit-radial-gradient(ellipse, #f1f1f1, #f1f1f1, #f1f1f1,#C4C4C4);
}
.fourBarsAround .column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fourBarsAround .column:first-child{
    flex: 3 1 200px;
}
.fourBarsAround .column:last-child{
    flex: 1 3 50px;
}
.fourBarsAround .left{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 50px;
    overflow: hidden;
    background-color: transparent;
}
.fourBarsAround .top{
    flex: 5 4 auto;
}
.fourBarsAround .bottom{
    flex: 4 5 auto;
}
.fourBarsAround .right{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform-origin: 50% 0;
    transition: transform .4s ease 0s;
}
.fourBarsAround .top,
.fourBarsAround .bottom,
.fourBarsAround .left{
    position: relative;
    overflow: hidden;
}
.fourBarsAround .top div,
.fourBarsAround .bottom div{
    position: absolute;
    height: 100%;
    width: 100%;
}
.fourBarsAround .top div,
.fourBarsAround .left div,
.fourBarsAround .bottom div,
.fourBarsAround .right{
    background: #000;
}
.fourBarsAround .left div{
    background: #000;
}
.fourBarsAround .top div{
    transform-origin: 100% 50%;
    transition: transform .3s ease .4s;
}
.fourBarsAround .bottom div{
    transition: transform .3s ease .7s;

    transform: scale3d(1, 1, 1);
    transform-origin: 50% 0%;
}
.fourBarsAround .left div{
    flex-grow: 1;
    transform-origin: 100% 50%;
    transform: scale3d(1, 1, 1);
    transition: transform .3s ease 1s;
}
.fourBarsAround .left p{
    background-color: #000;
    padding: 0 1vw;
    color: #fff;
    font-size: 1.5vw;
}
.fourBarsAround .right,
.fourBarsAround .top div,
.fourBarsAround .bottom div,
.fourBarsAround .left div{
    transform: scale3d(1, 1, 1);
}
.fourBarsAround.active .right{
    transform: scale3d(1, 0, 1);
}
.fourBarsAround.active .top div{
    transform: scale3d(0, 1, 1);
}
.fourBarsAround.active .bottom div{
    transform: scale3d(1, 0, 1);
}
.fourBarsAround.active .left div{
    transform: scale3d(0, 1, 1);
}
.fourBarsAround .hideTitle{
    display: block;
    position: absolute;
    bottom: 20px;
    right: 12%;
    font-size: 5em;
    color: #000;
    font-family: initial;
}